<div class="app-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form #form="ngForm">
        <mat-form-field>
            <mat-label>School</mat-label>
            <mat-select ngModel name="school" #selectSchool required>
                <mat-option value="x">X</mat-option>
                <mat-option value="y">Y</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Api</mat-label>
            <mat-select ngModel name="type" #selectType required>
                <mat-option value="subjects">Subjects</mat-option>
                <mat-option value="proffessors">Proffessors</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="ID" ngModel name="id" #inputId [disabled]="method === 'post'" [required]="method === 'put' || method === 'delete'">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Request body" ngModel name="body" #textareaBody [disabled]="method !== 'post' && method !== 'put'"></textarea>
        </mat-form-field>
        <button mat-button color="primary" [disabled]="!form.valid"
            (click)="onSend(form, selectType, selectSchool, inputId, textareaBody)">Send</button>
    </form>
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="GET"> </mat-tab>
        <mat-tab label="POST"> </mat-tab>
        <mat-tab label="PUT"> </mat-tab>
        <mat-tab label="DELETE"> </mat-tab>
    </mat-tab-group>
    <div class="response" *ngIf="!isLoading">
        {{response ? (response | json) : "Request body is empty!"}}
    </div>
</div>